<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styleBase.css">
    <title>Template 1</title>
</head>

<body>
    <header>
        <nav class="navigationBar">
            <a href="../index.html">
                <li>HOME</li>
            </a>
            <a href="#">
                <li>PAGE1</li>
            </a>
            <a href="./page2.html">
                <li>PAGE2</li>
            </a>
            <a>
                <li>LOGIN</li>
            </a>
        </nav>
    </header>
    page1
</body>

</html>